html,body,a,div,li,ul,h1{
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}


@font-face {
	font-family: danaBold;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/dana-bold.eot');
	src: url('../fonts/eot/dana-bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/dana-bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/dana-bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: danaRegular;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/dana-regular.eot');
	src: url('../fonts/eot/dana-regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/dana-regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/dana-regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


/**
Iranic fonts	
**/


@font-face {
	font-family: danaBoldItalic;
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/eot/dana-bolditalic.eot');
	src: url('../fonts/eot/dana-bolditalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/dana-bolditalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/dana-bolditalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: danaRegularItalic;
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/eot/dana-regularitalic.eot');
	src: url('../fonts/eot/dana-regularitalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/dana-regularitalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/dana-regularitalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
body{
	font-family: danaRegular;
}
section.header{
	background-color:black;
	height:9vw;
	z-index:4;
	overflow: hidden;
}

section.header >div.logo{
	display: inline-block;
}
section.header >div.logo img{
	height:5.8vw;
	background-position:center;
	background-repeat:no-repeat;
	width:12vw;
	position:absolute;
	left:3vw;
	top:1.3vw;
}

section.header > div.navigation1{
	display: inline-block;
	position: absolute;
	right: 0;
	top:2.3vw;
}
section.header > div.navigation1 ul li{
	float:right;
	margin-right:4vw;
	color:white;
	font-size:1.5vw;
}

section.header div.sidebar{
	display:none;
}
section.header div.main{
	display:none;
}
section.header >div.navigation1 ul a li{
	padding-bottom: 1vw;
}
section.header >div.navigation1 ul a:nth-child(4) li:nth-child(1){
	color:#ff7700;
	border-bottom:1px #ff7700 solid;
	
}
section.members{
	background-image:url(../../images/daste.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height:50vw;
	font-size:3vw;
	color:white;
	font-family:danaBold;
	box-shadow: inset 0px 0vw 20vw 5vw #000000;
}
section.members div{
	position:absolute;
	margin-top:40vw;
	right:12vw;
}
section.activity{
	text-align:center;
	padding-bottom:7vw;
	padding-left: 4vw;
	padding-right:4vw ;
}
section.activity >div.title{
	font-size:2vw;
	font-family:danaBold;
	margin-top:4vw;
	margin-bottom:4vw;
}
section.activity div.part{

	font-size:1.3vw;
	margin-bottom:6vw;
}
section.activity div.part div.text{
	text-align:right;
}
section.activity div.part div.title{
	text-align:right;
	font-family:danaBold;
}
section.activity div.part div.image{
	margin-bottom:7vw;
}

section.activity div.part div.image img{
	height:25vw;
	width:40vw;
}
section.activity div.line{
	height:2px;
	width:80vw;
	background-color:#707070;
	text-align:center;
	margin-right:0;
	margin-left:0;
	margin:auto;
}

section.content{
	position:relative;
	height:27vw;
	padding-right: 20px ;
	padding-left: 20px ;
	margin:0 !important;
	
}
section.content div.part{
	text-align:right;
	font-size:1.5vw;
}
section.content div.part div.title{
	font-family:danaBold;
}
section.link{
	height:45vw;
}
section.link button{
	background-color:#ff7700;
	color:white;
	font-size:2vw;
	width:16vw;
	height:8vw;
	left:0;
	right:0;
	margin:auto;
	position:absolute;
	border:none;
	cursor:pointer;
	font-family:danaRegular;
}
section.link div.image{
	position:relative;
	height:30vw;
	
}
section.link div.image img{
	display:inline;
	
}
section.link div.image img.nav1{
	z-index:1;
	width:100%;
	position:absolute;
	top:5vw;
	height:20vw;	
}
section.link div.image img.i{
	z-index:2;
	width:50vw;
	height:30vw;
	position:absolute;
	top:0;
	left:0px;
	right: 0;
	margin: auto;
}
section.team{
	text-align:center;
	
}
section.team div.title{
	font-family:danaBold;
	font-size:2vw;
	margin-bottom:5vw;
}
section.team div.images{
	height:28vw;
	overflow-x: auto;
	overflow-y: hidden; 
	white-space: nowrap;
	scrollbar-color: dark;
	scrollbar-width: thin;
	margin-bottom: 2vw;
}
section.team div.images::-webkit-scrollbar{
	width: 50%;
	height: 2px;
	background-color: #ff7700;
	
}
section.team div.images::-webkit-scrollbar-track {
	background-color: #d5d5d5;
  }
  section.team div.images::-webkit-scrollbar-thumb {
	background-color: #ff7700;
  }

section.team div.images div.image{
	cursor: pointer;
	background-size:cover;
	background-position:center;
	width:19vw;
	height:25vw;
	display:inline-block;
	position:relative;
	margin-left:1vw;
	margin-right: 1vw;
}
section.team div div.image:nth-child(1){
	background-image:url(../../images/fani.jpg);
}
section.team div div.image:nth-child(2){
	background-image:url(../../images/marketing.jpg);
}
section.team div div.image:nth-child(3){
	background-image:url(../../images/Mali.jpg);
}
section.team div div.image:nth-child(4){
	background-image:url(../../images/modoriat.jpg);
}
section.team div div.image:nth-child(5){
	background-image:url(../../images/Mohtava.jpg);
}
section.team div.fani{
	display: none;
	height: 30vw;
	margin-bottom: 3vw;
	overflow-x: auto;
	overflow-y: hidden; 
	white-space: nowrap;
	padding-bottom: 0vw;
}
section.team div.fani::-webkit-scrollbar{
	width: 50%;
	height: 2px;
	background-color: #ff7700;
	
}
section.team div.fani::-webkit-scrollbar-track {
	background-color: #d5d5d5;
  }
section.team div.fani::-webkit-scrollbar-thumb {
	background-color: #ff7700;
  }
section.team div.fani div.img{
	background-size:cover;
	background-position:center;
	width:19vw;
	height:25vw;
	display:inline-block;
	position:relative;
	margin-left:1vw;
	margin-right: 1vw;
	margin-top:2vw;
}
section.team div.fani{
	scrollbar-color: dark;
	scrollbar-width: thin;
}

section.team div.fani div.img:nth-child(1):hover{
	background-image: url(../../images/28.jpg) !important;
}
section.team div.fani div.img:nth-child(2):hover{
	background-image: url(../../images/30.jpg) !important;
}
section.team div.fani div.img:nth-child(3):hover{
	background-image: url(../../images/26.jpg) !important;
}
section.team div.fani div.img:nth-child(4):hover{
	background-image: url(../../images/24.jpg) !important;
}
section.team div.fani div.img:nth-child(5):hover{
	background-image: url(../../images/22.jpg) !important;
}
section.team div.marketing div.img:nth-child(1):hover{
	background-image: url(../../images/32.jpg) !important;
}
section.team div.marketing div.img:nth-child(2):hover{
	background-image: url(../../images/16.jpg) !important;
}
section.team div.marketing div.img:nth-child(3):hover{
	background-image: url(../../images/20.jpg) !important;
}
section.team div.marketing div.img:nth-child(4):hover{
	background-image: url(../../images/18.jpg) !important;
}
section.team div.finance div.img:nth-child(1):hover{
	background-image: url(../../images/park.jpg) !important;
}
section.team div.finance div.img:nth-child(2):hover{
	background-image: url(../../images/gerk.jpg) !important;
}
section.team div.management div.img:nth-child(1):hover{
	background-image: url(../../images/khk.jpg) !important;
}
section.team div.management div.img:nth-child(2):hover{
	background-image: url(../../images/14.jpg) !important;
}
section.team div.management div.img:nth-child(3):hover{
	background-image: url(../../images/12.jpg) !important;
}
section.team div.marketing{
	display: none;
	height: 30vw;
	margin-bottom: 3vw;
	overflow-x: auto;
	overflow-y: hidden; 
	white-space: nowrap;
	padding-bottom: 0vw;
}
section.team div.marketing::-webkit-scrollbar{
	width: 50%;
	height: 2px;
	background-color: #ff7700;
	
}
section.team div.marketing::-webkit-scrollbar-track {
	background-color: #d5d5d5;
  }
section.team div.marketing::-webkit-scrollbar-thumb {
	background-color: #ff7700;
  }
section.team div.marketing div.img{
	background-size:cover;
	background-position:center;
	width:19vw;
	height:25vw;
	display:inline-block;
	position:relative;
	margin-left:1vw;
	margin-right: 1vw;
	margin-top:2vw;
}
section.team div.marketing{
	scrollbar-color: dark;
	scrollbar-width: thin;
}
section.team div.finance{
	display: none;
	height: 30vw;
	margin-bottom: 3vw;
	overflow-x: auto;
	overflow-y: hidden; 
	white-space: nowrap;
	padding-bottom: 0vw;
}
section.team div.finance::-webkit-scrollbar{
	width: 50%;
	height: 2px;
	background-color: #ff7700;
	
}
section.team div.finance::-webkit-scrollbar-track {
	background-color: #d5d5d5;
  }
section.team div.finance::-webkit-scrollbar-thumb {
	background-color: #ff7700;
  }
section.team div.finance div.img{
	background-size:cover;
	background-position:center;
	width:19vw;
	height:25vw;
	display:inline-block;
	position:relative;
	margin-left:1vw;
	margin-right: 1vw;
	margin-top:2vw;
}
section.team div.finance{
	scrollbar-color: dark;
	scrollbar-width: thin;
}
section.team div.management{
	height: 30vw;
	margin-bottom: 3vw;
	overflow-x: auto;
	overflow-y: hidden; 
	white-space: nowrap;
	padding-bottom: 0vw;
}
section.team div.management::-webkit-scrollbar{
	width: 50%;
	height: 2px;
	background-color: #ff7700;
	
}
section.team div.management::-webkit-scrollbar-track {
	background-color: #d5d5d5;
  }
section.team div.management::-webkit-scrollbar-thumb {
	background-color: #ff7700;
  }
section.team div.management div.img{
	background-size:cover;
	background-position:center;
	width:19vw;
	height:25vw;
	display:inline-block;
	position:relative;
	margin-left:1vw;
	margin-right: 1vw;
	margin-top:2vw;
}

section.team div.management{
	scrollbar-color: dark;
	scrollbar-width: thin;
}
section.team div.content{
	display: none;
	height: 30vw;
	margin-bottom: 3vw;
	overflow-x: auto;
	overflow-y: hidden; 
	white-space: nowrap;
	padding-bottom: 0vw;
}
section.team div.content::-webkit-scrollbar{
	width: 50%;
	height: 2px;
	background-color: #ff7700;
	
}
section.team div.content::-webkit-scrollbar-track {
	background-color: #d5d5d5;
  }
section.team div.content::-webkit-scrollbar-thumb {
	background-color: #ff7700;
  }
section.team div.content div.img{
	background-size:cover;
	background-position:center;
	width:19vw;
	height:25vw;
	display:inline-block;
	position:relative;
	margin-left:1vw;
	margin-right: 1vw;
	margin-top:2vw;
}
section.team div.content{
	scrollbar-color: dark;
	scrollbar-width: thin;
}

section.team div.content div.img:nth-child(1):hover{
	background-image: url(../../images/magj.jpg) !important;
}
section.team div.content div.img:nth-child(2):hover{
	background-image: url(../../images/rajabij.jpg) !important;
}
section.footer{
	height:19vw;
	background-color:black;
}
section.footer div.i{
	padding-top:3.5vw;
	display:inline-block;
	margin-left:1.5vw;
}
section.footer div.i img{
	height:2.5vw;
	width:2.5vw;
	margin-right:1.5vw;	
}
section.footer div.list{
	display:inline-block;
	position:absolute;
	right:2vw;
	margin-top:4vw;
}
section.footer div.list ul li{
	color:white;
	float:right;
	padding-left:3.5vw;
	font-size:1.5vw;
}
section.footer div.content{
	margin-top:3.5vw;
	font-size:1vw;
	color:white;
	margin-left:2.5vw;
	display: inline-block;
}
section.footer div.search{
	background-color:#222221;
	height:3vw;
	width:21vw;
	display:inline-block;
	position:absolute;
	right:2vw;
	margin-top:7vw;
}
section.footer div.search img{
	height:2vw;
	width:2vw;
	text-align: left;
	position: absolute;
	top:0.5vw
}
section.footer div.search textarea{
	float: right;
	background-color:#222221;
	border: none;
	color: white;
	width: 19vw;
	height: 3vw;
}
@media (max-width: 575px){
	section.header{
		height:16vw;
		box-shadow:none;
	}
	section.header div.navigation1{
		display:none;
	}
	
	section.header div.sidebar{
		display:block;
		
	}
	section.header div.main{
		display:inline-block;
		
	}
	
	section.header div.logo img{
		height:9vw;
		width:19vw;
		top:3vw;
		left:5vw;
	}
	/* The sidebar menu */
	.sidebar {
	  height: 100%; /* 100% Full-height */
	  width: 0; /* 0 width - change this with JavaScript */
	  position: fixed; /* Stay in place */
	  z-index: 1000; /* Stay on top */
	  top: 0;
	  right: 0;
	  background-color: black; /* Black*/
	  overflow-x: hidden; /* Disable horizontal scroll */
	  padding-top: 20vw; /* Place content 60px from the top */
	  transition: 0.5s;  /* 0.5 second transition effect to slide in the sidebar */
	}
	
	/* The sidebar links */
	.sidebar a {
	  padding: 2vw 2vw 2vw 3vw;
	  text-decoration: none;
	  font-size: 4vw;
	  color: white;
	  display: block;
	  transition: 0.3s;
	  text-align:right;
	  margin-right:5vw;
	  margin-top:5vw;
	}
	
	/* When you mouse over the navigation links, change their color */
	.sidebar a:hover {
	  color: #7b3900;
	}
	
	/* Position and style the close button (top right corner) */
	.sidebar .closebtn {
	  position: absolute;
	  top: 0;
	  right: 0px;
	  font-size: 10vw;
	  margin-left: 5vw;
	}
	
	/* The button used to open the sidebar */
	.openbtn {
	  font-size: 6vw;
	  cursor: pointer;
	  background-color: black;
	  color: #7b3900;
	  padding: 0px 15px;
	  border: none;
	  position:absolute;
	  right:0;
	  top: 3vw;
	}
	
	
	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#main {
	  transition: margin-left .5s; /* If you want a transition effect */
	  padding: 20px;
	}
	
	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	@media screen and (max-height: 450px) {
	  .sidebar {padding-top: 15px;}
	  .sidebar a {font-size: 18px;}
	}
	section.activity >div.title{
		font-size:3vw;
		
	}
	section.activity div.part{
		
		font-size:2.3vw;
		
	}
	section.activity div.part div.image img{
		height:35vw;
		width:50vw;
	}
	section.content{
		height:80vw;
		
	}
	section.content div.part{
		font-size:2.5vw;
	}
	section.link{
		height:65vw;
	}
	section.link button{
		font-size:3vw;
		width:26vw;
		height:10vw;
	}
	section.link div.image{
		height:45vw;
		
	}
	section.link div.image img.nav1{
		top:5vw;
		height:30vw;	
	}
	section.link div.image img.i{
		z-index:2;
		width:60vw;
		height:40vw;
	}
	section.team div.title{
		font-size:3vw;
		margin-bottom:6vw;
	}
	
	section.team div.images{
		overflow-x: auto;
        overflow-y: hidden; 
		white-space: nowrap;
		padding-bottom: 20vw;
		height:60vw;
		margin-bottom: 0vw;
	}
	section.team div.images div.image{
		width:39vw !important;
		height:55vw !important;
		margin-left:2.5vw;
	}
	section.team div.images::-webkit-scrollbar{
		width: 50%;
		height: 2px;
		background-color: #ff7700;
		
	}
	section.team div.images::-webkit-scrollbar-track {
		background-color: #d5d5d5;
	  }
	section.team div.images::-webkit-scrollbar-thumb {
		background-color: #ff7700;
	  }
	
	  section.team div.images{
		scrollbar-color: dark;
		scrollbar-width: thin;
	  }
	 
	section.team div.fani{
		height: 60vw;
		margin-bottom: 5vw;
		padding-bottom: 20vw;
	}
	section.team div.fani div.img{
		width:39vw;
		height:45vw;
		margin-left:2.5vw;
		margin-top:8vw;
	}
	section.team div.marketing{
		height: 60vw;
		margin-bottom: 5vw;
		padding-bottom: 20vw;
	}
	
	section.team div.marketing div.img{
		width:39vw;
		height:45vw;
		margin-left:2.5vw;
		margin-top:8vw;
	}
	
	section.team div.finance{
		height: 60vw;
		margin-bottom: 5vw;
		padding-bottom: 20vw;
	}

	section.team div.finance div.img{
		width:39vw;
		height:45vw;
		margin-left:2.5vw;
		margin-top:8vw;
	}
	section.team div.management{
		height: 60vw;
		margin-bottom: 5vw;
		padding-bottom: 20vw;
	}
	section.team div.management div.img{
		width:39vw;
		height:45vw;
		margin-left:2.5vw;
		margin-top:8vw;
	}
	
	section.team div.content{
		height: 60vw;
		margin-bottom: 5vw;
		padding-bottom: 20vw;
	}
	section.team div.content div.img{
		width:39vw;
		height:45vw;
		margin-left:2.5vw;
		margin-top:8vw;
	}
	section.footer{
		height:50vw;
		background-color:black;
	}
	section.footer div.i{
		padding-top:10vw;
		display:block;
		margin-left:5vw;
	}
	section.footer div.i img{
		height:8vw;
		width:8vw;
		margin-right:3vw;	
	}
	section.footer div.list{
		display:block;
		position:absolute;
		right:20vw;
		margin-top:20vw;
		display:none;
	}
	
	section.footer div.content{
		margin-top:5vw;
		font-size:2.5vw;
		color:white;
		margin-left:5vw;
		}
	section.footer div.search{
		background-color:#222221;
		height:8vw;
		width:50vw;
		display:block;
		position:absolute;
		right:5vw;
		margin-top:-40vw;
	}
	section.footer div.search img{
		height:5vw;
		width:6vw;
		padding-top:2vw;
		padding-left:2.5vw;
	}
	section.footer div.search textarea{
		float: right;
		background-color:#222221;
		border: none;
		color: white;
		width: 44vw;
		height: 8vw;
	}

}
